.places {
  display: flex;
  flex-direction: column;
  max-width: inherit;
}

@media (min-width: 320px) {
  .places {
    min-width: 320px;
    padding: 0;
    gap: 50px;
  }
}

@media (min-width: 768px) {
  .places {
    min-width: 720px;
    padding: 0 24px 0 24px;
    gap: 73px;
  }
}

@media (min-width: 1024px) {
  .places {
    min-width: 928px;
    padding: 0 48px 0 48px;
    gap: 80px;
  }
}

@media (min-width: 1280px) {
  .places {
    min-width: 700px;
    padding: 0 148px 0 148px;
  }
}
