.intro__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 690px;
    height: 90px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}