.footer__copyright {
  font-weight: 400;
  text-align: right;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 14px;
}

@media (min-width: 320px) {
  .footer__copyright {
    line-height: 14px;
  }
}

@media (min-width: 768px) {
  .footer__copyright {
    line-height: 16px;
  }
}
