.cover {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 320px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
    padding: 16px 0 0;
  }
}

@media (min-width: 768px) {
  .cover {
    min-width: 768px;
    min-height: 480px;
    padding: 17px 0 88px 0;
  }
}

@media (min-width: 1024px) {
  .cover {
    min-width: 1024px;
    min-height: 640px;
    padding: 12px 0;
  }
}

@media (min-width: 1280px) {
  .cover {
    min-width: 1184px;
    min-height: 740px;
    padding: 12px 48px 96px 48px;
  }
}
