.cover {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    padding: 92px 48px;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

@media(min-width: 320px) {
    .cover {
        min-width: 320px;
        min-height: 200px;
    }
}

@media(min-width: 768px) {
    .cover {
        min-width: 768px;
        min-height: 480px;
    }
}

@media(min-width: 1024px) {
    .cover {
        min-width: 1024px;
        min-height: 640px;
    }
}

@media(min-width: 1280px) {
    .cover {
        min-width: 1184px;
        min-height: 740px;
        max-width: auto;
    }
}