.cover {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 320px) {
  .cover {
    padding: 66px 0 0;
  }
}

@media (min-width: 768px) {
  .cover {
    padding: 90px 0 0 0;
  }
}

@media (min-width: 1024px) {
  .cover {
    padding: 92px 0 0 0;
  }
}

@media (min-width: 1280px) {
  .cover {
    padding: 92px 48px 0 48px;
  }
}
