.place__url-heading {
  letter-spacing: 2px;
  color: #AAAAAA;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 12px;
  line-height: 12px;
  padding: 0;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .place__url-heading {
    line-height: 170%;
  }
}
